@font-face {
  font-family: Gilroy;
  src: url(../fonts/gilroyextrabold.woff2);
  font-weight: 800;
}

@font-face {
  font-family: Gilroy-Light;
  src: url(../fonts/gilroylight.woff2);
  font-weight: 300;
}

@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/opensanslight.woff2);
  font-weight: 300;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans.woff2);
  font-weight: 400;
}

/* GLOBAL STYLES */
body {
  margin: 0;
  padding: 0;

  font-family: OpenSans-Light, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 30px;
  color: #464646;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  z-index: 10;
  width: 200px;
  height: 40px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;

  background: linear-gradient(
    transparent,
    transparent 16px,
    #f0c52e 16px,
    #f0c52e 24px,
    transparent 24px,
    transparent 40px
  );
  transition: all 0.2s;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* HEADER */
.main-header {
  position: relative;
  box-sizing: border-box;
  width: 1160px;
  min-height: 226px;
  margin: 0 auto;
  padding-top: 23px;

  background: linear-gradient(#ffffff, #ffffff 40px, #f7e296 40px, #f7e296);
}

.main-header-logo {
  display: inline-block;
  width: 164px;
  height: 36px;
  vertical-align: middle;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.6;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.main-navigation {
  padding-left: 60px;
  padding-right: 60px;
}

.header-row-top,
.header-row-bottom {
  display: flex;
  align-items: flex-start;
}

.header-row-top {
  margin-top: 16px;
  margin-bottom: 21px;
}

/* Search */
.main-navigation-search::before {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 3px;

  width: 16px;
  height: 16px;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
}

.main-navigation-search {
  position: relative;
  width: 440px;
  margin-right: auto;
  
  min-height: 49px;
  display: flex;
  align-items: flex-end;
}

.search-input {
  box-sizing: border-box;
  height: 49px;
  width: 356px;
  padding-bottom: 14px;
  padding-left: 36px;
  border: none;
  border-bottom: 2px solid transparent;

  background-color: #f7e296;
  opacity: 0.3;
}

.search-input:hover {
  opacity: 0.6;
}

.search-input:focus {
  border-bottom: 2px solid #000000;
  outline: none;
  opacity: 1;
}

.search-button {
  display: none;
  box-sizing: border-box;
  width: 84px;
  height: 49px;

  color: #000000;
  background-color: #f7e296;
  border: 2px solid #000000;
  cursor: pointer;
}

.search-input:focus + .search-button {
  display: block;
  margin: 0;
  padding: 0;
}

.search-button:hover,
.search-button:focus {
  width: 84px;
  color: #ffffff;
  background-color: #000000;
  border: none;
}

.search-button:active {
  width: 84px;
  border: none;
  color: rgba(256, 256, 256, 0.3);
  background-color: #000000;
}

.user-navigation, .actions-navigation, .service-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/* User auth */
.profile-link {
  margin-right: 20px;
}

.logout-link {
  opacity: 0.3;
}

.actions-navigation-link {
  margin-left: 65px;
  display: inline-block;
  vertical-align: middle;
}

.actions-navigation-link,
.user-navigation-link {
  line-height: 30px;
  color: #000000;
}

.actions-navigation-link:hover,
.actions-navigation-link:focus,
.user-navigation-link:hover,
.user-navigation-link:focus {
  opacity: 0.6;
}

.actions-navigation-link:active,
.user-navigation-link:active {
  opacity: 0.3;
}

.actions-navigation-link:hover .actions-navigation-icon,
.actions-navigation-link:focus .actions-navigation-icon,
.user-navigation-link:hover .user-navigation-icon,
.user-navigation-link:focus .user-navigation-icon{
  opacity: 0.6;
}

.actions-navigation-link:active .actions-navigation-icon,
.user-navigation-link:active  .user-navigation-icon{
  opacity: 0.3;
}


/* Header bottom row */

.catalog-link-container {
  position: relative;
  width: 250px;
  min-height: 56px;
  margin-right: auto;
}

.catalog-link {
  display: block;
}

.catalog-link span {
  position: relative;
}

.catalog-link::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 3px;

  width: 16px;
  height: 16px;
  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
}

/* Category dropdown */
.category-dropdown {
  opacity: 0;
  z-index: 15;
  position: absolute;
  left: -60px;
  top: 35px;

  box-sizing: border-box;
  width: 1160px;
  min-height: 150px;
  padding-left: 60px;
  padding-bottom: 30px;
  display: flex;

  background-color: #f7e296;
  transition: all 0.2s;
}

.catalog-link-container:hover .category-dropdown,
.catalog-link-container:focus .category-dropdown {
  opacity: 1;
}

.category-dropdown-column {
  width: 220px;
  padding: 0;
  margin: 0;
  margin-right: 58px;
  list-style: none;
}

.category-dropdown a {
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 36px;
  color: #000000;
}

.category-dropdown a:hover,
.category-dropdown a:focus {
  opacity: 0.6;
}

.category-dropdown a:active {
  opacity: 0.3;
}

/* Info links */
.service-navigation {
  display: flex;
}

.main-header .service-navigation {
  width: 500px;
}

.main-header .service-navigation-item:nth-of-type(1){
  margin-right: 35px;
}

.main-header  .service-navigation-item:nth-last-of-type(1){
  margin-left: auto;
}

.service-navigation-link,
.catalog-link {
  display: inline-block;
  vertical-align: top;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 3.6px;
  line-height: 24px;
  text-transform: uppercase;
}

.service-navigation-link:hover,
.service-navigation-link:focus,
.catalog-link[href]:hover,
.catalog-link[href]:focus {
  opacity: 0.6;
}

.service-navigation-link:active,
.catalog-link[href]:active {
  opacity: 0.3;
}

/* INDEX PAGE */
/* Promo section */
.promo {
  position: relative;
  margin-bottom: 108px;
  background: linear-gradient(#f7e296, #f7e296 113px, #ffffff 113px, #ffffff);
}

.promo-slide {
  display: none;
  position: relative;
  min-height: 486px;
}

/* decoration */
.promo-slide::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 600px;

  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.promo-slide::after {
  content: "01";
  z-index: 1;
  position: absolute;
  top: -10px;
  left: 928px;

  width: 166px;
  height: 113px;

  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: #ffffff;
}

.promo-slide:nth-of-type(1)::after {
  content: "01";
}

.promo-slide:nth-of-type(2)::after {
  content: "02";
}

.promo-slide:nth-of-type(3)::after {
  content: "03";
}

.promo-slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-controls {
  z-index: 20;
  position: absolute;
  top: 330px;
  right: 71px;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  margin-left: 10px;
  vertical-align: top;

  background-image: url("../img/icons/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 12px 12px;
  cursor: pointer;
}

#product-1:checked ~ .promo #slide-1,
#product-2:checked ~ .promo #slide-2,
#product-3:checked ~ .promo #slide-3 {
  display: flex;
}

#product-1:checked ~ .promo label[for="product-1"],
#product-2:checked ~ .promo label[for="product-2"],
#product-3:checked ~ .promo label[for="product-3"] {
  background-image: url("../img/icons/slider-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 12px 12px;
}

.promo-slide-selfie img {
  margin-left: 90px;
  margin-right: 125px;
}

.promo-slide-fitness img {
  margin-left: 103px;
  margin-right: 138px;
}

.promo-slide-quadrocopter img {
  margin-left: 60px;
  margin-right: 42px;
}

.promo-details {
  width: 502px;
  padding-top: 34px;
}

.promo-header {
  z-index: 10;
  position: relative;

  margin-bottom: 20px;

  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 56px;
  color: #000000;
}

.promo-description {
  margin-bottom: 42px;
  font-size: 15px;
}

.promo-slide-button {
  width: 220px;
}

.promo-features {
  margin-top: 47px;
}

.promo-features td {
  padding-right: 74px;
}

.promo-features td:last-child {
  padding-right: 0;
}

.promo-feature-value {
  font-family: Gilroy-Light, Geneva, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.promo-feature-name {
  font-family: OpenSans-Light, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

/* Categories section */
.categories-inner {
  margin-bottom: 116px;
}

.categories-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.category-item-link {
  display: block;
  width: 160px;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
}

.category-icon-container {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 197, 46, 0.5);
}

.category-item:nth-of-type(2) .category-icon-container {
  align-items: flex-end;
}

.category-item-link:hover .category-icon-container,
.category-item-link:focus .category-icon-container {
  background-color: #f0c52e;
}

.category-item-link:active .category-icon-container {
  background-color: #f0c52e;
}

.category-item-link:active .category-item-name {
  color: rgba(0, 0, 0, 0.3);
}

.category-item-link:active .category-icon {
  filter: opacity(0.5);
}

.category-item-name {
  margin-top: 33px;
}

/* Info section */
.info {
  z-index: 0;
  position: relative;
  min-height: 353px;
  margin-bottom: 94px;

  background: linear-gradient(
    #ffffff,
    #ffffff 66px,
    #e5e5e5 66px,
    #e5e5e5 100%
  );
}

.info-slide {
  display: none;
  width: 700px;
  margin-left: 120px;
}

.info-details {
  width: 430px;
}

.info-slide-current {
  display: flex;
  flex-direction: column;
}

.info-inner {
  display: flex;
}

.info-slide-delivery {
  background-image: url("../img/icons/delivery.svg");
  background-repeat: no-repeat;
  background-position: 559px 49px;
}

.info-slide-credit {
  background-image: url("../img/icons/credit.svg");
  background-repeat: no-repeat;
  background-position: 559px 49px;
}

.info-slide-warranty {
  background-image: url("../img/icons/warranty.svg");
  background-repeat: no-repeat;
  background-position: 559px 49px;
}

.info-navigation {
  position: relative;
  width: 280px;
  min-height: 170px;
  padding: 0;
  padding-top: 30px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
}

.info-navigation li {
  vertical-align: bottom;
}

.info-navigation::before {
  content: "";
  position: absolute;
  top: -49px;
  left: 278px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.info-navigation-item {
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  width: 160px;

  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.5px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.info-navigation-current:hover,
.info-navigation-current:focus {
  background-color: #000000;
}

.info-navigation-item:active,
.info-navigation-current {
  width: 278px;
  min-height: 40px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  background: none;
  background-color: #000000;
  color: #f0c52e;
}

.info-navigation-current::before {
  display: none;
}

.info-navigation-current:hover::before,
.info-navigation-current:focus::before {
  display: none;
}

.info-section-name {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 24px;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.47px;
  color: #000000;
}

/* Brands section */
.brands {
  margin-bottom: 88px;
}

.brands-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.brand-link {
  display: block;
  font-size: 0;
  background-repeat: no-repeat;
  transition: all 0.2s;
}

.brand-link-dji {
  background-image: url("../img/index/brand-1.png");
}

.brand-link-spgadgets {
  background-image: url("../img/index/brand-2.png");
}

.brand-link-gopro {
  background-image: url("../img/index/brand-3.png");
}

.brand-link-vive {
  background-image: url("../img/index/brand-4.png");
}

.brand-icon {
  opacity: 0;
}

.brand-link:hover .brand-icon,
.brand-link:focus .brand-icon,
.brand-link:active .brand-icon {
  opacity: 1;
}

/* About us section */
.about-us,
.contacts {
  position: relative;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us h2,
.contacts h2 {
  margin-bottom: 23px;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 56px;
  color: #000000;
}

.about-us p,
.contacts p {
  letter-spacing: 0;
}

.about-us {
  width: 480px;
  padding-right: 125px;
  display: flex;
  flex-direction: column;
}

.contacts {
  width: 560px;
  display: flex;
  flex-direction: column;
}

.delivery-services {
  padding: 0;
  margin: 0;
  margin-bottom: 51px;
  margin-top: 55px;
  font-weight: bold;
  color: #000000;
  list-style: none;
}

.delivery-services-item {
  position: relative;
  display: block;
  padding-left: 35px;
  margin-bottom: 10px;
}

.delivery-services-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 2px;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.about-us-contacts-container {
  margin-bottom: 81px;
  display: flex;
  justify-content: space-between;
}

.contacts-map-container {
  margin-top: 24px;
  margin-bottom: 61px;
}

.contacts-map {
  cursor: pointer;
}

.contact-us-button, .about-us-button{
  width: 260px;
}

/* CATALOG PAGE */
.catalog-header-container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-left: 60px;
  padding-top: 36px;
  margin-bottom: 47px;
}

.page-header {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 0;
  display: flex;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 24px;
  list-style: none;
}

.breadcrumbs-link {
  position: relative;
  margin-right: 40px;
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs-link:not(.breadcrumbs-current)::after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: -18px;
  width: 4px;
  height: 7px;
  background-image: url("../img/icons/nav-arrow.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

.page-header {
  font-size: 47px;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  color: #000000;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
}

/* Filters */
.filters h2,
.sorting h2 {
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  letter-spacing: 3.5px;
  line-height: 24px;
  text-transform: uppercase;
}

.filters {
  padding: 0;
  flex-grow: 1;
  background-color: #ebebeb;
}

.filter-form {
  box-sizing: border-box;
  width: 330px;
  margin: 0;
  margin-left: auto;
  padding-left: 58px;
  padding-right: 71px;
  padding-top: 80px;
}

.filters-header-container {
  margin-left: auto;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}

.filter-item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  border: none;
}

.filter-item:last-of-type {
  margin-bottom: 32px;
}

.filter-item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 1px;
  width: 202px;
  height: 2px;
  background-color: #000000;
}

.filters-header {
  width: 270px;
  padding: 0;
  padding-left: 60px;
  margin: 0;
  margin-left: auto;
}

.filter-name {
  margin-bottom: 18px;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.18px;
  line-height: 24px;
}

/* Price range */
.range-controls {
  position: relative;
  padding-top: 18px;
  padding-bottom: 6px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 60%;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;

  display: block;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  background-color: #acacad;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: -4px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-label {
  font-family: Gilroy-Light, Geneva, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #464646;
  line-height: 24px;
  opacity: 0.2;
}

.price-label-input {
  display: inline-block;
  vertical-align: middle;
  width: 60px;

  background: none;
  border: none;
  outline: none;
}

/* Other filters */

.checkbox-label,
.radio-label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 38px;

  font-family: OpenSans-Light, Arial, sans-serif;;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.1px;
  line-height: 40px;
  cursor: pointer;
}


.checkbox-label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 8px;
  box-sizing: border-box;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
}

.checkbox-label:hover,
.checkbox-label:focus {
  opacity: 0.6;
}

.checkbox-label:hover::before,
.checkbox-label:focus::before {
  opacity: 0.6;
}

input[type="checkbox"]:checked + .checkbox-label::before {
  background-image: url("../img/icons/checkbox-on.svg");
}

.radio-label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 7px;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off.svg");
  background-repeat: no-repeat;
}

.radio-label:hover,
.radio-label:focus {
  opacity: 0.6;
}

.radio-label:hover::before,
.radio-label:focus::before {
  opacity: 0.6;
}

input[type="radio"]:checked + .radio-label::before {
  background-image: url("../img/icons/radio-on.svg");
}

input[disabled] + .radio-label,
input[disabled] + .checkbox-label {
  opacity: 0.25;
}

input[disabled] + .radio-label::before,
input[disabled] + .checkbox-label::before {
  opacity: 0.25;
}

.filter-color {
  display: flex;
  flex-direction: column;
}

.filter-bluetooth {
  display: flex;
  flex-direction: column;
}

.catalog-wrapper {
  padding-bottom: 60px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Sorting */
.sorting {
  background-color: #ebebeb;
  min-height: 70px;
}

.sorting-inner {
  width: 756px;
  min-height: 70px;
  margin-left: 73px;
  display: flex;
  align-items: center;
}

.sorting-param-list,
.sorting-order-list {
  padding: 0;
  display: flex;
  list-style: none;
}

.sorting-param-list {
  margin-left: 55px;
}

.sorting-param {
  margin-right: 25px;
  letter-spacing: normal;
  color: inherit;
  opacity: 0.3;
}

.sorting-param:hover,
.sorting-param:focus {
  opacity: 0.6;
}

.sorting-param:active,
.sorting-param-selected {
  opacity: 1;
}

.sorting-order-list {
  width: 31px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorting-order-item {
  position: relative;
}

.sorting-order-asc::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 0;
  right: 0;
  background-image: url("../img/icons/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.sorting-order-desc::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  height: 10px;

  background-image: url("../img/icons/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.sorting-order-item::before {
  opacity: 0.3;
}

.sorting-order-item:hover::before,
.sorting-order-item:focus::before {
  opacity: 0.6;
}

.sorting-order-item:active::before,
.sorting-order-item-selected::before {
  opacity: 1;
}

/* Catalog items */
.catalog {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.catalog-list {
  width: 760px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 360px;

  margin-bottom: 46px;
}

.catalog-item-new::before {
  content: "";
  position: absolute;
  top: 28px;
  right: 27px;
  z-index: 100;
  width: 61px;
  height: 61px;
  box-sizing: border-box;
  opacity: 0.1;
  border: solid 2px black;
  border-radius: 50%;
}

.catalog-item-new::after {
  content: "new";
  position: absolute;
  top: 47px;
  right: 38px;
  z-index: 100;
  box-sizing: border-box;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.2;
}



.catalog-item-actions {
  z-index: -10;
  position: absolute;
  width: 360px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog-item:hover .catalog-item-actions,
.catalog-item:focus .catalog-item-actions {
  z-index: 10;
}

.catalog-item:hover .catalog-image,
.catalog-item:focus .catalog-image {
  opacity: 0.7;
}

.catalog-image-container {
  background-color: #d8d8d8;
}

.catalog-description {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
}

.catalog-item-link {
  width: 270px;
  padding: 0;
  margin: 0;

  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.18px;
  line-height: 24px;
}

.catalog-item-name {
  padding: 0;
  margin: 0;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;
}

.button-cart {
  width: 200px;
}

.button-compare {
  font-family: OpenSans-Light, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0.13px;
  text-align: center;
  line-height: 36px;
  opacity: 0.5;
}

.button-compare:focus,
.button-compare:hover {
  opacity: 1;
}

.button-compare:active {
  opacity: 0.3;
}

.catalog-price {
  font-family: Gilroy-Light, Geneva, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #464646;
  line-height: 24px;
  letter-spacing: 0.16px;
}

/* Catalog page pagination */
.pagination {
  width: 760px;
  min-height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.08);
}

.pagination ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.pagination-item {
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  opacity: 0.3;
}

.pagination-item:hover,
.pagination-item:focus {
  opacity: 0.6;
}

.pagination-item-current,
.pagination-item:active {
  opacity: 1;
}

.pagination-direction {
  width: 137px;
  min-height: 70px;

  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  letter-spacing: 3.5px;
  line-height: 24px;
  text-transform: uppercase;

  border: none;
  background: transparent;
  cursor: pointer;
}

.pagination-direction:hover,
.pagination-direction:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-direction:active {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}


/* FOOTER */
.footer {
  padding-top: 66px;
  padding-bottom: 65px;

  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 30px;

  background-color: #464646;
  color: rgba(256, 256, 256, 0.7);
}

.footer-inner {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.footer-logo {
  width: 163px;
  height: 35px;
  margin-right: auto;
}

.footer-logo[href]:hover,
.footer-logo[href]:focus {
  opacity: 0.6;
}

.footer-logo[href]:active {
  opacity: 0.3;
}

.footer-logo-image {
  fill: #ffc600;
}

.footer-row-top,
.footer-row-middle,
.footer-row-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-row-top {
  margin-bottom: 29px;
}


.footer-address,
.footer-phone {
  padding: 0;
  margin: 0;
}

.footer-phone a {
  color: #ffffff;
}

.footer .user-navigation-link,
.footer .actions-navigation-link {
  color: #ffffff;
  opacity: 0.7;
}

.footer .user-navigation-link:hover,
.footer .user-navigation-link:focus,
.footer .actions-navigation-link:hover,
.footer .actions-navigation-link:focus {
  opacity: 1;
}

.footer .user-navigation-link:active
.footer .actions-navigation-link:active {
  opacity: 0.3;
}



.footer .user-navigation-icon,
.footer .actions-navigation-icon {
  fill: #ffc600;
  opacity: 1.0;
}

.footer .service-navigation-link {
  color: #ffffff;
}

.footer .service-navigation-item {
  margin-right: 35px;
}

.footer-row-middle {
  margin-bottom: 50px;
}

.footer-social-links {
  padding: 0;
  margin-left: 509px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 23px;
  vertical-align: top;

  font-size: 0px;
  opacity: 0.3;
}

.social-fb {
  background-image: url("../img/icons/fb.svg");
  background-repeat: no-repeat;
}

.social-in {
  background-image: url("../img/icons/instagram.svg");
  background-repeat: no-repeat;
}

.social-tw {
  background-image: url("../img/icons/twitter.svg");
  background-repeat: no-repeat;
}

.social:hover,
.social:focus {
  opacity: 0.6;
}

.social:active {
  opacity: 0.1;
}

.developer-link {
  display: inline-block;
  vertical-align: top;
  width: 27px;
  height: 35px;

  font-size: 0px;
  background-image: url("../img/icons/logo-html.svg");
  background-repeat: no-repeat;
}

.developer-link:hover,
.developer-link:focus {
  opacity: 0.6;
}

.developer-link:active {
  opacity: 0.3;
}

.footer-inner::after {
  content: "";
  position: absolute;
  bottom: 28px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}




/* Pop-ups */
.contact-us-popup {
  display: none;
  z-index: 100;
  position: fixed;
  top: 100px;
  left: 50%;
  box-sizing: border-box;
  width: 960px;
  height: 553px;
  margin-left: -480px;
  padding: 90px 100px;

  border: none;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us-form label {
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  color: #000000;
}

.contact-us-form-field  {
  box-sizing: border-box;
  margin-top: 10px;
  padding-left: 20px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
  border: none;
}

.contact-us-form-name, .contact-us-form-email {
  display: block;
  width: 360px;
  height: 50px;
  margin-bottom: 30px;
}

.contact-us-form-text {
  box-sizing: border-box;
  width: 760px;
  min-height: 156px;
  margin-bottom: 50px;
  padding-top: 10px;
}

.map-popup {
  display: none;
  z-index: 100;
  position: fixed;
  top: 100px;
  left: 50%;
  width: 960px;
  height: 550px;
  margin-left: -480px;
}

.popup-show {
  display: block;
}

.popup-close {
  position: absolute;
  right: 22px;
  top: 22px;
  width: 55px;
  height: 55px;

  font-size: 0;
  background-image: url("../img/icons/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.popup-close:hover,
.popup-close:focus {
  opacity: 1;
}

.popup-close:active {
  opacity: 0.3;
}
