@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-ExtraBold.otf);
  font-weight: 800;
}

@font-face {
  font-family: Gilroy-Light;
  src: url(../fonts/Gilroy-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: 300;
}

/* GLOBAL STYLES */
body {
  margin: 0;
  padding: 0;

  font-family: OpenSans-Light, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #464646;
  letter-spacing: 0.15px;
  line-height: 30px;
}

.container {
  width: 1160px;
  margin: auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 3.5px;
  text-align: center;
  line-height: 24px;
  border: none;
  background: transparent;
  position: relative;
}

.button::before {
  content: " ";
  /* vertical-align: middle; */
  background-color: #f0c52e;
  display: inline-block;
  width: 100%;
  height: 8px;
  position: absolute;
  z-index: -1;
  top: 7px;
}

.button:hover::before {
  height: 40px;
  top: -10px;
}

.button::before:hover,
.button::before:focus {
  height: 40px;
  background-color: #f0c52e;
}

/* HEADER */
.main-header {
  background-color: rgba(240, 197, 46, 0.5);
  margin: auto;
}

.main-navigation {
  width: 1160px;
  margin: 0 auto;
}

.header-links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-navigation ul {
  list-style: none;
  padding: 0;
}

.main-navigation-links a,
.user-navigation a {
  text-decoration: none;
  color: #000000;
  line-height: 30px;
}

.main-navigation-links a:hover,
.main-navigation-links a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation-links a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-info a,
.catalog-link {
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 3.6px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-info a:hover,
.header-info a:focus,
.catalog-link:hover,
.catalog-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.category-dropdown ul {
  list-style: none;
  padding: 0;
}

.category-dropdown a {
  color: #000000;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 36px;
  text-decoration: none;
}

.category-dropdown a:hover,
.category-dropdown a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.category-dropdown a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* INDEX PAGE */
/* Promo section */
.promo-slide {
  display: none;
}

.promo-slide-current {
  display: block;
}

.promo-navigation {
  list-style: none;
  padding: 0;
}

.promo-photo {
  display: inline-block;
}

.promo-details {
  display: inline-block;
  width: 520px;
}

.promo-header {
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 56px;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  color: #000000;
}

.promo-description {
  font-size: 15px;
}

.promo-features td {
  padding-right: 40px;
}

.promo-features tr:nth-of-type(1) td {
  font-family: Gilroy-Light, Geneva, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.promo-features tr:nth-of-type(2) td {
  font-family: OpenSans-Light, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

/* Categories section */

.category-icon-container {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-icon-container:hover,
.category-icon-container:focus {
  background-color: #f0c52e;
}

.category-icon-container:active {
  background-color: #f0c52e;
}

.category-icon:active {
  filter: opacity(0.5);
}

.categories-list {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.category-item {
  display: inline-block;
}

.category-item a {
  display: block;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  text-align: left;
  text-decoration: none;

  width: 160px;
}

.category-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Info section */
.info {
  background-color: #e5e5e5;
  position: relative;
  z-index: 0;
}

.info-slide {
  display: none;
  width: 700px;
  margin-left: 120px;
}

.info-details {
  width: 430px;
}

.info-slide-current {
  display: inline-block;
}

.info-slide-delivery {
  background-image: url("../img/icons/delivery.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.info-slide-credit {
  background-image: url("../img/icons/credit.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.info-slide-warranty {
  background-image: url("../img/icons/warranty.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.info-navigation {
  list-style: none;
  padding: 0;

  width: 280px;
  display: inline-block;
}

.info-navigation a {
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.5px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  padding-left: 20px;
  vertical-align: middle;
  width: 160px;
  position: relative;
  z-index: 2;
  display: inline-block;
}

.info-navigation a::before {
  content: " ";
  /* vertical-align: middle; */
  height: 8px;
  background-color: #f0c52e;
  display: inline-block;
  width: 160px;
  position: absolute;
  z-index: -1;
  top: 8px;
}

.info-navigation a:hover::before {
  content: "";
  height: 40px;
  top: -10px;
  z-index: -1;
  background-color: #f0c52e;
  display: inline-block;
  width: 160px;
  position: absolute;
}

a.info-navigation-current {
  background-color: #000000;
  color: #f0c52e;
  width: 278px;
}

a.info-navigation-current::before {
  display: none;
}

a.info-navigation-current:hover::before {
  display: none;
}

.info-section-name {
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 47px;
  color: #000000;
}

/* Brands section */
.brands-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.brand-item {
  font-size: 0;
}

/* About us section */
.about-us h2,
.contacts h2 {
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 56px;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  color: #000000;
}

.about-us a {
  text-decoration: none;
}

.about-us-contacts-container {
  display: flex;
  justify-content: space-between;
}

/* Pop-ups */
.contact-us-popup {
  width: 960px;
  height: 553px;
  border: 1px solid #464646;

  display: none;
}

.map-popup {
  display: none;
}

/* CATALOG PAGE */
/* Breadcrumbs */
.breadcrumbs {
  list-style: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 24px;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 40px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-header {
  font-size: 47px;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  color: #000000;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.filters h2,
.sorting h2 {
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  letter-spacing: 3.5px;
  line-height: 24px;
  text-transform: uppercase;
}

.filters {
  background-color: #e5e5e5;
  width: 330px;
  margin: 0;
}

.filters legend {
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.18px;
  line-height: 24px;
}

.filters label {
  font-family: OpenSans-Light;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.14px;
  line-height: 40px;
}

.catalog-right-column {
  width: 830px;
  margin: 0;
}

.sorting ul {
  list-style: none;
  padding: 0;
}

/* Catalog items */
.catalog-item-actions a {
  text-decoration: none;
}

.catalog-item-name {
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.18px;
  line-height: 24px;
}

.button-compare {
  font-family: OpenSans-Light, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.13px;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
}

.button-compare:focus,
.button-compare:hover {
  color: #000000;
}

.button-compare:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-price {
  font-family: Gilroy-Light, Geneva, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #464646;
  line-height: 24px;
  letter-spacing: 0.16px;
}

/* Catalog page pagination */
.pagination {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination ul {
  list-style: none;
  padding: 0;
}

.pagination a {
  text-decoration: none;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
}

.pagination-direction {
  display: inline-block;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  letter-spacing: 3.5px;
  line-height: 24px;
  text-transform: uppercase;
  width: 137px;

  border: none;
  background: transparent;
}

.pagination-direction:hover,
.pagination-direction:focus,
.pagination a:hover,
.pagination a:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-direction:active,
.pagination a:active {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item,
.pagination-list {
  display: inline-block;
}

/* FOOTER */
.footer {
  background-color: #464646;
  color: rgba(256, 256, 256, 0.7);
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 30px;
}

.footer-inner {
  width: 1160px;
  margin: 0 auto;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer-navigation a,
.footer-developer a,
.footer-phone a {
  text-decoration: none;
  color: rgba(256, 256, 256, 0.7);
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: #ffffff;
}

.footer-navigation a:active {
  color: rgba(256, 256, 256, 0.3);
}

.footer-info a {
  color: #ffffff;
  font-family: Gilroy, Geneva, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-info a:hover,
.footer-info a:focus {
  color: rgba(256, 256, 256, 0.6);
}

.footer-info a:active {
  color: rgba(256, 256, 256, 0.3);
}

.footer-social a {
  color: rgba(256, 256, 256, 0.7);
  text-decoration: none;
}
